.logo-img{
	width: 2rem;
}

.container-fluid{
	padding: 0rem;
}

.list-icon{
	
}
.list-icon-img{
	width: 1rem;
	height: 1rem;
}
.list-introduce{
	padding-left: 1rem;
}

.menu-1{
	text-align: center;
	
}

.menu-2{
	text-align: center;
	
}

.user-icon{
	width: 60%;
	min-width: 1rem;
}



.margin-0{
	margin: 0;
}

#aside-menu{
	padding-left: 0.5rem;
	padding: 0.5rem;
}

.navbar-user{
	font-size: 0.75rem;
	min-width: 5rem;
}

.list-group-item.active{
	
}

#mainBlock{
	margin-top: 0.5rem;
	padding:0.2rem;
}

@media screen and (min-width:700px) {
	.menu-1{
		text-align: left;
	}
	
}

	
@media screen and (max-width:500px) {
	.navbar-user{
		padding: 0;
	}
}

